*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    height: 100vh;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}
.box{
    background-color: red;
    border: 1px solid green;
    font-size: larger;
    width: 200px;
    height: 200px;
}
